{% set nameDisabled = false %}
{% set defaultDisabled = false %}
{% set defaultChecked = false %}
{% set appDefaultChecked = false %}
{% if dashboard['id'] is defined %}
    {% set dashboardId = dashboard['id'] %}
    {% set dashboardName = dashboard['name'] %}
    {% if dashboard['user_default'] is defined and dashboard['user_default'] == true %}
        {% set defaultChecked = true %}
    {% endif %}
    {% if dashboard['app_default'] is defined and dashboard['app_default'] == true %}
        {% set appDefaultChecked = true %}
        {% set defaultDisabled = true %}
        {% set nameDisabled = true %}
    {% endif %}
    {% set dashboardShared = dashboard['shared'] %}
{% else %}
    {% set dashboardId = '' %}
    {% set dashboardName = '' %}
    {% set dashboardShared = [] %}
{% endif %}
<form autocomplete="off" data-validateon="section" id="{{componentId}}-{{sectionId}}-form">
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'id',
                    'fieldLabel'                     : 'Dashboard ID',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Dashboard ID',
                    'fieldRequired'                  : true,
                    'fieldBazScan'                   : true,
                    'fieldBazPostOnCreate'           : false,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldHidden'                    : true,
                    'fieldDisabled'                  : true,
                    'fieldValue'                     : dashboardId
                ]
            )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'name',
                    'fieldLabel'                     : 'Dashboard Name',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Dashboard Name',
                    'fieldRequired'                  : true,
                    'fieldDisabled'                  : nameDisabled,
                    'fieldBazScan'                   : true,
                    'fieldBazJstreeSearch'           : true,
                    'fieldBazPostOnCreate'           : true,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldDataInputMinLength'        : 1,
                    'fieldDataInputMaxLength'        : 50,
                    'fieldValue'                     : dashboardName
                ]
            )}}
        </div>
        {% if not appDefaultChecked %}
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'user_default',
                        'fieldLabel'                     : 'Dashboard is user default?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : "Check to make the dashboard user's default dashboard.",
                        'fieldType'                      : 'checkbox',
                        'fieldDisabled'                  : false,
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : defaultChecked,
                        'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        {% else %}
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'app_default',
                        'fieldLabel'                     : 'Dashboard is App default?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Check to make the dashboard default dashboard.',
                        'fieldType'                      : 'checkbox',
                        'fieldDisabled'                  : true,
                        'fieldCheckboxType'              : 'success',
                        'fieldCheckboxChecked'           : appDefaultChecked,
                        'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        {% endif %}
    </div>
    {% if not appDefaultChecked %}
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'shared',
                        'fieldLabel'                     : 'Shared',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Select Accounts to share dashboard with',
                        'fieldBazScan'                   : true,
                        'fieldRequired'                  : false,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataSelect2Options'        : sharedAccounts,
                        'fieldDataSelect2Multiple'       : true,
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'email',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': dashboardShared
                    ]
                )}}
            </div>
        </div>
    {% endif %}
</form>
<script>
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-id'                                  : { },
        '{{componentId}}-{{sectionId}}-name'                                : { },
        '{{componentId}}-{{sectionId}}-user_default'                        : { },
        '{{componentId}}-{{sectionId}}-app_default'                         : { },
        '{{componentId}}-{{sectionId}}-shared'                              : {
            placeholder: "SELECT ACCOUNT(S)",
            "ajax"          : {
                url         : "{{links.url('dashboards/searchAccount')}}",
                dataType    : "json",
                method      : "post",
                data: function(params) {
                    var query = { };
                    query['search'] = params.term;
                    query[$('#security-token').attr('name')] = $('#security-token').val();

                    return query;
                },
                processResults: function(response) {
                    if (response.responseData.accounts) {
                        var accountsData = [];
                        for (var item of response.responseData.accounts) {
                            accountsData.push({
                                "id"    : item["id"],
                                "text"  : item["email"]
                            });
                        }

                        return {
                            results: accountsData
                        }
                    } else {
                        return {
                            results : []
                        }
                    }
                },
                cache: true
            },
            minimumInputLength : 2
        },
        '{{componentId}}-{{sectionId}}-form'                                : {
            ignore: ':submit, :reset, :image, :disabled, .ignore, .cr-slider',
            invalidHandler: function (form, validator) {
                // //eslint-disable-next-line
                // console.log(validator.errorList);
            },
            rules: {
                '{{componentId}}-{{sectionId}}-name'                    : 'required'
            },
            messages: {
                '{{componentId}}-{{sectionId}}-name'                    : 'Please enter dashboard name'
            }
        }
    });
</script>
